.gameArea {
    position: relative;
    margin: 2em auto;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.snakeDot{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: red;
    border: 1px solid blue;
    z-index: 2;
}

.snakeFood{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: yellow;
    border: 1px solid brown;
    z-index: 1;
}
